@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.cont {
  width: 500px !important;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-text {
  border: 0 !important;
  border-bottom: 1px solid #495057 !important;
}

.input-text::placeholder {
  font-family: 'Roboto';
}
input:focus::-webkit-input-placeholder {
  color: black;
}
.input-text:focus {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}
.fas1 {
  position: absolute;
  left: 0;
  padding: 10.5px;
  margin-left: 5px;
  border-bottom: 1px solid #495057;
}

.form-group {
  line-height: 1;
}
